.main{
    background-color: #383838;
    height: 75% !important;
    border-radius:29px;
}
.about{
    border-radius:10px;
    color: #24C28A !important;
    font-size:20px;
    width:90%;
    height:95px;
}
.creator_card{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.53) 0%, rgba(255, 255, 255, 0.47) 100%);
    border-radius:29px;
    width:20%;
  min-width:200px;
  height:200px;
 }