<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">   
        <title>{% block title %} {% endblock %}</title>
        {% block css %} {% endblock %}
    </head>
    <body>
        {% load static %}
        <nav class="navbar navbar-expand-md  mt-3 navbar-dark bg-inverse navbar-toggleable-sm">
          <a href="#" class="navbar-brand">
            <div>
              <a href="{% url 'landing' %}">
                <span class=" float-left mx-3"><img src="{% static 'images/Logo.png' %}"></span>
                <span class=" float-left mr-5 logo"> EmoFy</span>
              </a>
            </div>
          </a>
          <button type="button" class="navbar-toggler  navbar-toggler-right ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse navbar-nav float-right" id="navbarCollapse">
               <div class="navbar-nav ml-auto">
                <a href="{% url 'landing' %}" class="middle nav-item  nav-link navbar_headings ml-5">Home</a>
                <a href="{% url 'aboutus' %}" class="middle nav-item  nav-link navbar_headings ml-5">About</a>
                <a href="https://github.com/AM1CODES/EmoFy-GardenHacks" class="middle nav-item nav-link navbar_headings ml-5" target="_blank">Contribute</a>
              </div> 
          </div>
        </nav>
        {% block body %} {% endblock %}
        {% block js %} {% endblock %}
    </body>
</html>